<% include header %>

<div class="container">
  <h1>REDENDO Financial Services</h1>
  <img src="/logo.png" />
  <p class="lead">
    DPFO - Danove priznani pro fyzicke osoby!
  </p>
  <p>
    Tato web applikace slouzi k jednoduchemu vytvoreni jak-koliv sloziteho danove priznani.
    Je vyvorena jako Messenger Bot experience a jedine co potrebujete je Facebook Messenger.
  </p>
  <ul>
    <li>
      <a href="https://www.originalcoastclothing.com/"
        >Redendo Services Website</a
      >
    </li>
    <li>
      Chcete podat DPFO?
      <a
        href="http://www.jconcept.net"
        >Zde</a
      >
    </li>
  </ul>
</div>

<% include footer %>
